<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mojtabagolab.com.applicationketabytoplearn">

    <application
        android:name=".G"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".Aboutus"
            android:exported="false" />
        <activity android:name=".ForwardList" />
        <activity
            android:name=".StudyActivity"
            android:theme="@style/stydy" />
        <activity
            android:name=".kharej"
            android:theme="@style/kharej" />
        <activity
            android:name=".iran"
            android:theme="@style/iran" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainActivitytheme" />
        <activity
            android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>